*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  /* background-color: #000; */
  /* background-color: #04101c; */
}

::selection{
  background-color:rgba(0,224,255,1);
  color: #04101c;
}
::-webkit-scrollbar-thumb {
  background:rgba(0,224,255,1);
  border-radius: 7px;

}
/* Apply styles to autofilled fields */
input:-webkit-autofill {
  background-color: #04101C !important; /* Change background color */
  -webkit-text-fill-color: #A1A195 !important; /* Change text color */
  box-shadow: 0 0 0px 1000px #04101C inset !important; /* Remove shadow */
}

/* Styles for Firefox */
input:-moz-autofill {
  background-color: #A1A195 !important; /* Change background color */
  color: #A1A195 !important; /* Change text color */
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #04101c;
}

.main-title{
  /* /* background: linear-gradient(to right,30%  #FFFFFF,60% #00E0FF ) ; */
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,224,255,1) 100%);
  background-clip:text;
  -webkit-text-fill-color: transparent; 
}
.nav-link{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  height: 34px;
  align-items: center;
  transition: all ease 0.7s;
  display: flex;
  gap: 6px;
}
.nav-link:hover{
  color: #0cfefc;
  text-decoration: none;
}
.nav-link2{
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  height: 34px;
  align-items: center;
  padding-left: 10px;
}
.active{
  color: #0cfefc;
  border-bottom: 1.5px solid #0cfefc ;
  transition: all ease 0.4s;
  font-weight: 600;
}
.active .tocka{
  display: flex;
}

.button {
  padding:0 1rem;
  position: relative;
 max-width: 273px;
 border-radius: 25px;
 border: "none";

  min-height: 60px;
  margin-top: 30px;
  transition: all ease 0.7s;
}
.button:hover{
  transform: scale(105%);
}
.button-text {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 background:#04101c;
 /* background:linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,224,255,1) 100%); */
 border: "none";
 border-radius: 25px;
 max-width: 273px;
 color: #00E0FF;
font-weight:500;
font-size: 20px;
 text-transform: initial;
 height: 60;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 gap: 10px;
}
.button:hover >.button-background{
 position: absolute;
 top: -1px;
 right: 1px;
 bottom: 1px;
 border: "none";
 left: 1px;
  border-radius: 45px;
 background: linear-gradient(-90deg, #00a8f7,#00E0FF);
 background-size: 400% 100%;
 padding: 0;
 margin: 0;
 animation: backgroundAnimation 1000s ease-in-out infinite
}
.button-background {
 position: absolute;
 top: -1px;
 right: 1px;
 bottom: 1px;
 border: "none";
 left: 1px;
  border-radius: 45px;
 background: linear-gradient(-90deg, #007cf0, #00dfd8,#00a8f7,#fff,#ff0080, #007cf0);
 background-size: 400% 100%;
 padding: 0;
 margin: 0;
 animation: backgroundAnimation 5s ease-in-out infinite
}


@keyframes backgroundAnimation {
 50% {
  background-position: 140% 50%;
  transform: skew(-2deg)
 }
}

.button-background:after {
 content: "";
 position: absolute;
 background-size: inherit;
 background-image: inherit;
 -webkit-animation: inherit;
 animation: inherit;
 border: "none";
 left: 0;
 right: 0;
 top: 6px;
 height: 80%;
 filter: blur(.7rem)
};